<!DOCTYPE html>
<html>
<head>
    <title>price time</title>
</head>
<body>
<h4>Select time range</h4>
<div>
    <form action="/pricetime/gold" method="post">
        <dir>
            start time: <input id="start_time" type="date" name="start_time" value="">
        </dir>
        <dir>
            end time: <input id="end_time" type="date" name="end_time" value="">   
        </dir>
        <dir>
            <input type="submit"/>        
        </dir>
    </form>
    
    

    <div>
        <div id="picture_t" style="display:inline-block">
        </div>
        <div id="picture_p" style="display:inline-block">
        </div>
    </div>
</div>
<script type="text/javascript">
    {% if picture_t %}
        document.getElementById("picture_t").innerHTML='';
        document.getElementById("picture_t").innerHTML='<img src="data:image/png;base64,{{picture_t}}"/>';

    {% endif %}
    {% if picture_p %}
        document.getElementById("picture_p").innerHTML='';
        document.getElementById("picture_p").innerHTML='<img src="data:image/png;base64,{{picture_p}}"/>';

    {% endif %}
    
    {% if start_time %}
        document.getElementById("start_time").value="{{start_time}}";
    {% endif %}
    {% if end_time %}
        document.getElementById("end_time").value="{{ end_time}}";
    {% endif %}
    
</script>
</body>
</html>




